/* PROGRESS PAGE SPECIFIC STYLES */

.player {
    color: rgb(0, 150, 137);
    font-weight: 700;
}

.marginBottom {
    margin-bottom: 1.5rem;
}

.Accelerate {
    color: white;
    font-size: 24px;
    background: linear-gradient(to bottom, rgba(255,47,221), rgba(126,41,249));
    border: 0;
}

.Accelerate:focus {
    outline:none;
}

/* -------------------  MOBILE  --------------------- */
header {
  background-image: url('../img/Race_BG.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main#two-columns {
    margin: 50px 0;
    display: flex;
}

main#two-columns section {
    max-width: 50vw;
}

section#accelerate button {
    height: 300px;
    width: 300px;
    margin: 30px auto;
    border-radius: 180%;
    /* border-color: rgb(14, 166, 6); */
    cursor: pointer;
}

#big-numbers {
    font-weight: bolder;
    font-size: 70px;
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {

}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}
